<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.vo.Member" alias="member"/>
		<typeAlias type="com.vo.Score" alias="score"/>
		<typeAlias type="com.vo.Game" alias="game"/>
		<typeAlias type="com.vo.Location" alias="location"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/config/membermapper.xml"/>
		<mapper resource="com/config/scoremapper.xml"/>
		<mapper resource="com/config/gamemapper.xml"/>
		<mapper resource="com/config/locationmapper.xml"/>
	</mappers>
</configuration>






