<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ScoreMapper">
	<resultMap type="Score" id="scoreResult">
		<result column="score_seq" property="score_seq"/>
		<result column="id" property="id"/>
		<result column="regdate" property="regdate"/>
		<result column="game_num" property="game_num"/>
		<result column="set1" property="set1"/>
		<result column="set2" property="set2"/>
		<result column="set3" property="set3"/>
		<result column="set4" property="set4"/>
		<result column="set5" property="set5"/>
		<result column="set6" property="set6"/>
		<result column="set7" property="set7"/>
		<result column="set8" property="set8"/>
		<result column="set9" property="set9"/>
		<result column="set10" property="set10"/>
		<result column="strike" property="strike"/>
		<result column="spare" property="spare"/>
	</resultMap>
		
	<select id="select" parameterType="String" resultMap="scoreResult">
		SELECT score_seq, id, regdate, game_num, set1, set2, set3, set4, set5, set6, set7, set8, set9, set10, strike, spare FROM Score WHERE game_num=#{obj}
	</select>
	<select id="selectLogin" parameterType="hashmap" resultMap="scoreResult">
		SELECT score_seq, id, regdate, game_num, set1, set2, set3, set4, set5, set6, set7, set8, set9, set10, strike, spare FROM Score WHERE game_num=#{game_num} AND id=#{id}
	</select>
	<select id="selectall" parameterType="String" resultType="Score">
		SELECT score_seq, id, regdate, game_num, set1, set2, set3, set4, set5, set6, set7, set8, set9, set10, strike, spare FROM Score WHERE id=#{obj}
	</select>	
	<insert id="insert" parameterType="Score">
		INSERT INTO SCORE VALUES (score_SEQ.NEXTVAL, #{id}, SYSDATE, #{game_num}, #{set1}, #{set2}, #{set3}, #{set4}, #{set5}, #{set6}, #{set7}, #{set8}, #{set9}, #{set10}, #{strike}, #{spare})
	</insert>
	<update id="update" parameterType="Score">
		UPDATE SCORE SET set1=#{set1},set2=#{set2},set3=#{set3},set4=#{set4},set5=#{set5},set6=#{set6},set7=#{set7},set8=#{set8},set9=#{set9},set10=#{set10},strike=#{strike},spare=#{spare} WHERE score_seq=#{obj}
	</update>
	<delete id="delete" parameterType="String">
		DELETE FROM SCORE WHERE score_seq=#{obj}
	</delete>
	<select id="rankAvg" parameterType="String" resultType="hashmap">
		SELECT tot_avg, rank_avg FROM(SELECT id, tot_avg, RANK() OVER(ORDER BY tot_avg DESC) AS rank_avg FROM(SELECT id, AVG(set10) AS tot_avg FROM score GROUP BY id)) WHERE id=#{obj}
	</select>
	<select id="rankStrike" parameterType="String" resultType="hashmap">
		SELECT strike_avg, strike_rank FROM(SELECT id, strike_avg, RANK() OVER(ORDER BY strike_avg DESC) AS strike_rank FROM(SELECT id, AVG(strike) AS strike_avg FROM score GROUP BY id)) WHERE id=#{obj}
	</select>	
</mapper>
